@font-face{
  font-family: 'arcade';
  src: url('../build/font/ARCADE_N.TTF');
}
body {
  margin: 0;
  font-family: 'arcade';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
